/*Шаблон*/
body {
	font-family: Calibri, "Comic Sans", serif;
	font-size: 40px;
	background-color: #272822;
	color:#EEEAD7;
}

/*Прочее, что добавила по ходу дела*/
.margin{
	margin-bottom:0.4px;
}
.kapitan-ochevid{
	text-align: right;
	font-size: 30px;
	margin: 0;
}
.lasttext {
	font-decoration: line-through;
	color: black;
	background-color: snow;
}
.lasttext:hover {
	background-color: greenyellow;
}

.stylelink {
	text-decoration: none;
	color: greenyellow;
}

.stylelink:visited {
	color: garkgreen;
}

.stylelink:hover {
	color: orange;
}

.stylelink:active {
	color: skyblue;
}